<configuration>

    <include resource="logback-included.xml"/>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.github.dockerjava" level="WARN"/>
    <logger name="org.testcontainers" level="WARN"/>
    <logger name="tc" level="WARN"/>

</configuration>
