name: CI
on:
  pull_request:
jobs:
  ciJvms:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        java: [ '1.8', '11', '17' ]
    steps:
      - uses: actions/checkout@v3.0.0
        with:
          fetch-depth: 100
      - name: Fetch tags
        run: git fetch --depth=100 origin +refs/tags/*:refs/tags/*
      - uses: olafurpg/setup-scala@v13
        with:
          java-version: ${{ matrix.java }}
      - name: Coursier cache
        uses: coursier/cache-action@v6
      - name: sbt ci ${{ github.ref }}
        run: ./sbt ci ; tree ideal-voting-contract/target/scala-2.13/openapi ; unzip -vl ~/.ivy2/local/cz.idealiste/ideal-voting-contract_2.13/*/docs/ideal-voting-contract_2.13-javadoc.jar

  ci:
    runs-on: ubuntu-20.04
    needs: [ ciJvms ]
    steps:
      - name: Aggregate of lint, and all tests
        run: echo "ci passed"
